@model BookStore.Models.Book.OverviewBooksViewModel

<div class="d-flex flex-wrap">
    @foreach (var book in Model.AllBooks)
    {
        <div class="card mb-3" style="max-width: 540px; margin-right: 25px">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/img/@book.UniqueUrl" class="img-fluid rounded-start" />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@book.Title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@book.Author.FirstName @book.Author.LastName</h6>
                        <p class="card-text"><b>Price:</b> €@book.Price</p>
                        <p class="card-text"><b>Genre:</b> @book.Genre.Name</p>
                        <div class="d-flex justify-content-between align-self-end">
                            <a asp-controller="Book" asp-action="DetailBook" asp-route-id="@book.Id">Details</a>
                            <a href="#" class="btn btn-primary">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

